<div class="duoshuo">
<!-- 来必力City版安装代码 -->
<div id="lv-container" data-id="city" data-uid="<%=theme.livere_uid%>">
<script type="text/javascript">
   (function(d, s) {
       var j, e = d.getElementsByTagName(s)[0];

       if (typeof LivereTower === 'function') { return; }

       j = d.createElement(s);
       j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
       j.async = true;

       e.parentNode.insertBefore(j, e);
   })(document, 'script');
</script>
<iframe title="livere" scrolling="no" frameborder="0" src="https://was.livere.me/comment/city?id=city&amp;refer=liziczh.com%2Fjavaweb-servlet.html&amp;uid=MTAyMC8zNTUxMC8xMjA0Ng%3D%3D&amp;site=https%3A%2F%2Fliziczh.com%2Fjavaweb-servlet.html&amp;title=JavaWeb%20%7C%20Servlet%2FJSP" id="lv-comment-890" style="min-width: 100%; width: 100px; height: 357px; overflow: hidden; border: 0px; z-index: 124212;"></iframe>
</div>
<!-- City版安装代码已完成 -->
</div>